body{
    width: 900px;
    margin: auto;
    padding-top: 25px;
}
h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#content {
    width: 800px;
    margin: auto;
    padding: 10px;
}
.form {
    margin: auto;
    padding: 20px;
    border: 2px dashed red;
}
table{
    width: 600px;
    margin: auto;
    padding: 0px;
}
th {
    text-align: center;
    font-size: 30px;
    color: red;
}
td {
    width: 200px;
    padding: 2px;
    font-size: 20px;
}
