body{
    width: 900px;
    margin: auto;
    padding-top: 25px;
}
h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#content {
    width: 800px;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 15px black;
}
.form {
    width: 750px;
    margin: auto;
    padding: 20px;
    border: 2px dashed red;
}
table{
    width: 700px;
    margin: auto;
    padding: 0px;
}
th {
    text-align: center;
    font-size: 30px;
    color: red;
}
td {
    width: 20px;
    padding: 2px;
    font-size: 20px;
}
